/* GENERAL */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* NAVIGATION (REQUIRED FIX) */
nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

/* REQUIRED h1 */
h1 {
    color: #333;
}

/* MAIN */
main {
    max-width: 840px;
    margin: 20px auto;
    text-align: center;
}

/* REQUIRED main img FIX */
main img {
    width: 150px;
    height: auto;
    border: 2px solid #333;
    padding: 5px;
    box-shadow: 0 0 10px gray;
}

/* REQUIRED p */
p {
    padding: 0;
}

/* ASIDE */
aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

/* FOOTER */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}